*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.home-content {
    max-width: 41rem;
    z-index: 99;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

body{
    width: 100%;
    position: relative;
    font-family: 'Poppins' , roboto;
    background: var(--bg--color);
    color: var(--text-color);
}